{% load staticfiles %}
<!doctype html>
<html>
<head>
    <title>忘记密码 — 搞机情报局</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{% static "images/myimgs/../../../../static/images/icon/icon.jpg" %}" type="image/x-icon"/>
    <link href="{% static "accounts/css/bootstrap.min.css" %}" type="text/css" rel="stylesheet">
    <link href="{% static "accounts/css/font-awesome.min.css" %}" type="text/javascript" rel="stylesheet">
    <link href="{% static "accounts/css/bootsnav.css" %}" type="text/css" rel="stylesheet">
    <link href="{% static "accounts/css/normalize.css" %}" type="text/css" rel="stylesheet">
    <link href="{% static "accounts/css/css.css" %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static "js/gritter/css/jquery.gritter.css" %}">
    <script src="{% static "accounts/js/jquery-1.11.0.min.js" %}" type="text/javascript"></script>
    <script src="{% static "accounts/js/bootstrap.min.js" %}" type="text/javascript"></script>
    <script src="{% static "accounts/js/bootsnav.js" %}" type="text/javascript"></script>
    <script src="{% static "accounts/js/jquery.js" %}" type="text/javascript"></script>
    <!--[if IE]><script src="{% static "accounts/js/html5.js" %}"></script><![endif]-->
</head>

<body class="logobg_style">
<div id="large-header" class="large-header login-page">
    <canvas id="demo-canvas" width="1590" height="711"></canvas>
    <div class="login-form">
        <div class="login-content" style="height: 350px;">
            <h1 class="title_name">忘记密码</h1>
            <form method="post" role="form" id="form_login" class="login_padding" style="margin-top: 50px">
                {% csrf_token %}
                <div class="form-group clearfix">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="icon_user"></i>
                        </div>
                        {{ form.email }}
                    </div>
                </div>

                <div class="form-group" style="margin-top: 30px">
                    <button class="btn btn-danger btn-block btn-login" type="button" onclick="check_email()">验证邮箱</button>
                </div>
                <div class="tishi"></div>
            </form>
        </div>

    </div>
</div>
<script src="{% static "accounts/js/TweenLite/TweenLite.min.js" %}"></script>
<script src="{% static "accounts/js/TweenLite/EasePack.min.js" %}"></script>
<script src="{% static "accounts/js/TweenLite/rAF.js" %}"></script>
<script src="{% static "accounts/js/TweenLite/demo-1.js" %}"></script>
<script src="{% static "js/gritter/js/jquery.gritter.js" %}"></script>

<script>
    // 当失去焦点时检查验证码
    function check_email() {
        var email = $('#email').val();
        if (email.length == 0){
            Tip("请输入邮箱！");
            return false
        }
        $.ajax({
            url: '{% url 'accounts:password_forget' %}',
            type: 'POST',
            dataType: 'json',
            data: {"email": email},
            success: function (data) {
                if(data.code != 200){
                     msg = data.msg
                }else{
                    msg = data.msg
                }
                     $.gritter.add({
                        // (string | mandatory) the heading of the notification
                        title: '提交结果',
                        // (string | mandatory) the text inside the notification
                        //text: 'This will fade out after a certain amount of time. Vivamus eget tincidunt velit. Cum sociis natoque penatibus et <a href="#" style="color:#ccc">magnis dis parturient</a> montes, nascetur ridiculus mus.'
                        text: msg
                    });
            },
            // 解决csrftoken
            beforeSend: function(xhr, settings) {
                xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
            }
        });
    };
</script>


</body>
</html>
