{% load staticfiles %}
<!DOCTYPE HTML>
<html lang="zh">
<head>
    <title>首页 — 搞机情报局</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="shortcut icon" href="{% static "images/icon/pig.jpg" %}" type="image/x-icon"/>
    <script src="{% static 'js/jquery-3.4.1.js' %}" type="text/javascript"></script>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="{% static "css/animate.min.css" %}"/>
    <link rel="stylesheet" href="{% static "css/common.css" %}" type="text/css"/>
    <link rel="stylesheet" href="{% static "css/master.index.css" %}" type="text/css"/>
    <link rel="stylesheet" href="{% static "css/listcommon.master.css" %}">
    <script src="{% static "js/jquery-1.10.2.min.js" %}" type="text/javascript"></script>
    <script src="{% static "js/slick.min.js" %}"></script>
    <script src="{% static "js/scrollReveal.js" %}"></script>

    <link rel="stylesheet" type="text/css" href="{% static "index/css/style.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "index/css/media_index.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "index/css/mod.css" %}">
</head>
<body>

<div class="loading">
    <img src="{% static "images/loader.gif" %}" alt="loading"/>
</div>
<!--手机页面  侧导航栏-->
<div class="nav-mobile">
    <div class="nav-mobile-inner">
        <ul>
            <li><a href="{% url "index:index" %}">首页</a></li>
            <li><a href="{% url "phone_info:phones" %}">手机品牌</a></li>
            <li><a href="{% url "phone_videos:videos" %}">专业测评</a></li>
            <li><a href="{% url "phone_news:news" %}">机情快讯</a></li>
            {#            <li><a href="news.html">参数对比</a></li>#}
            <li><a href="{% url "index:about" %}">关于</a></li>
            <li style="padding: 8px;margin-left: 15px">
                <a href="{% url "accounts:profile" %}" style="padding: 0">
                    <img src="{% if not user.is_authenticated %}{% static "images/noLogin.jpg" %}
                               {% else %}{{ user.avator_sm.url }}{% endif %}" height="25" width="25"
                         alt="加载失败">
                    <span class="username">{% if not user.is_authenticated %}{% else %}{{ user }}{% endif %}</span>
                </a>
            </li>
            {% if not user.is_authenticated %}
                <li><a href="{% url "accounts:login" %}">登录</a></li>
                <li><a href="{% url "accounts:register" %}">注册</a></li>
            {% else %}
                <li><a href="{% url "accounts:profile" %}">个人中心</a></li>
                <li><a href="{% url "accounts:change_passwd" %}">修改密码</a></li>
                <li><a href="{% url "accounts:logout" %}">退出</a></li>
            {% endif %}
        </ul>
    </div>
</div>
<div class="wrapper">
    <!--电脑页面 导航栏-->
    {% include "header.html" %}
    <!--主体部分-->
    <div class="main">
        <!--轮播图-->
        <div class='banner'>
            <div>
                <div class="banner4">
                    <div class="center">
                        <div class="title">
                            <span style="color: #e83828">搞机情报局</span> 西装暴徒出品
                        </div>
                        <a href="#" title="三菱重工官网" class="b-link">探索详情</a>
                        <div class="oil"></div>
                    </div>
                </div>
            </div>
            <!--3-->
            <div>
                <div class="banner6">
                    <div class="center">
                        <div class="title">
                            优质的手机情报搬运工
                        </div>
                        <a href="#" title="浙江国际舞蹈中心官网" class="b-link">探索详情</a>
                        <div class="oil"></div>
                    </div>
                </div>
            </div>
            <div>
                <div class="banner5">
                    <div class="title">
                        <p class="main-title">WEB DESIGN</p>
                        <p class="slogan">TRANSFORM <span>THE</span> CONSUMER <span>EXPERIENCE</span></p>
                        <p class="intro">为您呈现无与伦比的视觉体验</p>
                    </div>
                </div>
            </div>
        </div>

        <!--品牌logo-->
        <div class="case">
            <div class="container">
                <div class="service">
                    <div class="container">
                        <div class="about-title" data-scroll-reveal="enter bottom over 1s and move 50px after 0s">
                            <span>热门品牌</span>
                            <a href="{% url "phone_info:phones" %}" class="more">MORE</a>
                        </div>
                    </div>
                </div>
                <div class="case-slide">
                    <div class="slick-case">
                        <!--华为-->
                        <div class="case-item" data-scroll-reveal="enter bottom over 1s and move 50px after 0s">
                            <div class="case-item-inner">
                                <div class="case-image"><a href="/info/phones/15/phone_list" title="华为">
                                    <img src="{% static "images/index_brand/huawei.jpg" %}" alt="华为">
                                    <div class="case-shadow"><img src="{% static "images/case-more-tip.png" %}"
                                                                  alt=""></div>
                                </a>
                                    <div class="case-detail">
                                        <div class="case-detail-title"><a href="#">华为</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--魅族-->
                        <div class="case-item" data-scroll-reveal="enter bottom over 1s and move 50px after 0.1s">
                            <div class="case-item-inner">
                                <div class="case-image">
                                    <a href="/info/phones/29/phone_list" title="魅族">
                                        <img src="{% static "images/index_brand/meizu.jpg" %}" alt="魅族">
                                        <div class="case-shadow"><img src="{% static "images/case-more-tip.png" %}"
                                                                      alt=""></div>
                                    </a>
                                    <div class="case-detail">
                                        <div class="case-detail-title"><a href="#">魅族</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--小米-->
                        <div class="case-item" data-scroll-reveal="enter bottom over 1s and move 50px after 0.2s">
                            <div class="case-item-inner">
                                <div class="case-image"><a href="/info/phones/17/phone_list"
                                                           title="小米"><img
                                        src="{% static "images/index_brand/mi.jpg" %}"
                                        alt="小米">
                                    <div class="case-shadow"><img src="{% static "images/case-more-tip.png" %}"
                                                                  alt=""></div>
                                </a>
                                    <div class="case-detail">
                                        <div class="case-detail-title"><a href="#">小米</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--一加-->
                        <div class="case-item" data-scroll-reveal="enter bottom over 1s and move 50px after 0.3s">
                            <div class="case-item-inner">
                                <div class="case-image"><a href="/info/phones/11/phone_list"
                                                           title="一加"><img
                                        src="{% static "images/index_brand/oneplus.jpg" %}"
                                        alt="一加">
                                    <div class="case-shadow"><img src="{% static "images/case-more-tip.png" %}"
                                                                  alt=""></div>
                                </a>
                                    <div class="case-detail">
                                        <div class="case-detail-title"><a href="#">一加</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--红米-->
                        <div class="case-item" data-scroll-reveal="enter bottom over 1s and move 50px after 0s">
                            <div class="case-item-inner">
                                <div class="case-image"><a
                                        href="/info/phones/19/phone_list"
                                        title="红米"><img src="{% static "images/index_brand/redmi.jpg" %}" alt="红米">
                                    <div class="case-shadow"><img src="{% static "images/case-more-tip.png" %}"
                                                                  alt=""></div>
                                </a>
                                    <div class="case-detail">
                                        <div class="case-detail-title"><a href="#">红米</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--三星-->
                        <div class="case-item" data-scroll-reveal="enter bottom over 1s and move 50px after 0.1s">
                            <div class="case-item-inner">
                                <div class="case-image"><a href="/info/phones/12/phone_list" title="三星"><img
                                        src="{% static "images/index_brand/sumsung.jpg" %}" alt="三星">
                                    <div class="case-shadow"><img src="{% static "images/case-more-tip.png" %}"
                                                                  alt=""></div>
                                </a>
                                    <div class="case-detail">
                                        <div class="case-detail-title"><a href="#">三星</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--苹果-->
                        <div class="case-item" data-scroll-reveal="enter bottom over 1s and move 50px after 0.2s">
                            <div class="case-item-inner">
                                <div class="case-image"><a href="/info/phones/1/phone_list"
                                                           title="苹果"><img
                                        src="{% static "images/index_brand/iphone.jpg" %}"
                                        alt="苹果">
                                    <div class="case-shadow"><img src="{% static "images/case-more-tip.png" %}"
                                                                  alt=""></div>
                                </a>
                                    <div class="case-detail">
                                        <div class="case-detail-title"><a href="#">苹果</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--oppo-->
                        <div class="case-item" data-scroll-reveal="enter bottom over 1s and move 50px after 0.3s">
                            <div class="case-item-inner">
                                <div class="case-image"><a href="/info/phones/7/phone_list" title="oppo"><img
                                        src="{% static "images/index_brand/oppo.jpg" %}" alt="oppo">
                                    <div class="case-shadow"><img src="{% static "images/case-more-tip.png" %}"
                                                                  alt=""></div>
                                </a>
                                    <div class="case-detail">
                                        <div class="case-detail-title"><a href="#">oppo</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--荣耀-->
                        <div class="case-item" data-scroll-reveal="enter bottom over 1s and move 50px after 0s">
                            <div class="case-item-inner">
                                <div class="case-image"><a href="/info/phones/22/phone_list" title="荣耀"><img
                                        src="{% static "images/index_brand/honor.jpg" %}" alt="荣耀">
                                    <div class="case-shadow"><img src="{% static "images/case-more-tip.png" %}"
                                                                  alt=""></div>
                                </a>
                                    <div class="case-detail">
                                        <div class="case-detail-title"><a href="#">荣耀</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--vivo-->
                        <div class="case-item" data-scroll-reveal="enter bottom over 1s and move 50px after 0.1s">
                            <div class="case-item-inner">
                                <div class="case-image"><a href="/info/phones/10/phone_list" title="vivo"><img
                                        src="{% static "images/index_brand/vivo.jpg" %}" alt="vivo">
                                    <div class="case-shadow"><img src="{% static "images/case-more-tip.png" %}"
                                                                  alt=""></div>
                                </a>
                                    <div class="case-detail">
                                        <div class="case-detail-title"><a href="#">vivo</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--诺基亚-->
                        <div class="case-item" data-scroll-reveal="enter bottom over 1s and move 50px after 0.2s">
                            <div class="case-item-inner">
                                <div class="case-image"><a href="/info/phones/23/phone_list" title="诺基亚"><img
                                        src="{% static "images/index_brand/nokia.jpg" %}" alt="诺基亚">
                                    <div class="case-shadow"><img src="{% static "images/case-more-tip.png" %}"
                                                                  alt=""></div>
                                </a>
                                    <div class="case-detail">
                                        <div class="case-detail-title"><a href="#">诺基亚</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--联想-->
                        <div class="case-item" data-scroll-reveal="enter bottom over 1s and move 50px after 0.3s">
                            <div class="case-item-inner">
                                <div class="case-image"><a
                                        href="/info/phones/21/phone_list"
                                        title="联想"><img src="{% static "images/index_brand/lenovo.jpg" %}" alt="联想">
                                    <div class="case-shadow"><img src="{% static "images/case-more-tip.png" %}"
                                                                  alt=""></div>
                                </a>
                                    <div class="case-detail">
                                        <div class="case-detail-title"><a
                                                href="#">联想</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--测评视频-->
        <div class="case" style="background-color: #f3f3f3;">
            <div class="container">
                <div class="service" style="background-color: #f3f3f3">
                    <div class="container">
                        <div class="about-title" data-scroll-reveal=" move 10px after 0s">
                            <span>最新测评</span>
                            <a href="{% url "phone_videos:videos" %}" class="more">MORE</a>
                        </div>
                    </div>
                </div>
                <div class="about-us-content" data-scroll-reveal="enter bottom over 1s and move 10px after 0s">
                    <section class="wraper mi-video clear_bottom" id="video">
                        <section class="m-box">
                            <ul class="m-cols m-col-4">
                                {% for video in new_video %}
                                    <li class="col" style="margin-left: 0; ">
                                        <div id="video_li" class="row" style="margin: 15px">
                                            <div class="video">
                                                <a href="{% url "phone_videos:video_play" video.aid %}" target="_blank" title="{{ video.title }}">
                                                    <label class="play-btn" for="video-switch">
                                                    </label>
                                                    <img src="/media/{{ video.img }}">
                                                    <span>{{ video.duration }}</span>
                                                </a>
                                            </div>
                                            <div class="content">
                                                <p class="name"><a href="#">{{ video.author }}</a></p>
                                                <p class="desc">
                                                    {% if video.title|length < 25 %}{{ video.title }}{% else %}
                                                        {{ video.title|truncatechars:25 }}{% endif %}</p>
                                            </div>
                                            <span>{{ video.make_time }}</span>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </section>
                    </section>
                </div>
            </div>
        </div>

        <!--机情快讯-->
        <div class="case">
            <div class="container">
                <div class="service">
                    <div class="container">
                        <div class="about-title" data-scroll-reveal="enter bottom over 1s and move 50px after 0s">
                            <span>NEWS</span>
                            <a href="{% url "phone_news:news" %}" class="more">MORE</a>
                        </div>
                    </div>
                </div>
                <div class="newslist" style="padding-top: 20px;margin-left: 13%" data-scroll-reveal="enter bottom over 1s and move 50px after 0s">
                    {% for new in new_news %}
                        <div class="news_li" style="margin: 0 10px 40px 20px"><img src="{{ new.pic }}">
                            <a href="{% url "phone_news:news_detail" new.id %}" target="_blank" class="news_txt"
                               title="{{ new.title }}">
                                <span>{{ new.title }}</span>
                                <p>{{ new.description }}</p>
                                <h5>{{ new.make_time }}</h5>
                            </a></div>
                    {% endfor %}
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
    {% include "footer.html" %}
</div>


<script type="text/javascript" src="{% static "js/imagesloaded.pkgd.min.js" %}"></script>
<script src="{% static "js/jquery.vide.js" %}" type="text/javascript"></script>
<script src="{% static "js/jquery.parallax.min.js" %}" type="text/javascript"></script>
<script src="{% static "js/jquery.transit.js" %}" type="text/javascript"></script>
<script src="{% static "js/slick.min.js" %}" type="text/javascript"></script>
<script src="{% static "js/myiframe.js" %}" type="text/javascript"></script>
<script src="{% static "js/public.js" %}" type="text/javascript"></script>
<script src="{% static "js/index.js" %}" type="text/javascript"></script>
<script src="{% static "js/new_index.js" %}" type="text/javascript"></script>
<script type="text/javascript">
    $(function () {
        var explorer = window.navigator.userAgent;
        if (explorer.indexOf("Firefox") >= 0) {
            $('.banner').imagesLoaded(function () {
                $('.loading').remove();
                $('.scene').parallax();
                videoBg();
                setTimeout(function () {
                    $('.menu-btn').click();
                }, 1000)
            });
        }
        else if (navigator.appName == "Microsoft Internet Explorer" && navigator.appVersion.split(";")[1].replace(/[ ]/g, "") == "MSIE7.0" || navigator.appVersion.split(";")[1].replace(/[ ]/g, "") == "MSIE8.0" || navigator.appVersion.split(";")[1].replace(/[ ]/g, "") == "MSIE9.0") {
            $('.loading').remove();
            $('.menu-btn').click();
            if ($(window).width() < 800) {
                $('.client .container').css('width', '100%');
            }

        }
        else {
            $('.banner').imagesLoaded(function () {
                $('.loading').remove();
                $('.scene').parallax();
                videoBg();
                setTimeout(function () {
                    $('.menu-btn').click();
                }, 1000)
            })
        }
    });

    if (!(/msie [6|7|8|9]/i.test(navigator.userAgent))) {
        (function () {
            window.scrollReveal = new scrollReveal({reset: true});
        })();
    }

</script>

</body>
</html>
