{% load staticfiles %}
    <div class="footer">
        <div class="flink"><span style="color: white">Copyright © 搞机情报局. All Rights Reserved.</span>
            <span style="margin-left: 5%"> <a href="#" target="_blank">湘ICP备XXXXXXXXXX号</a></span></div>
        <div class="flink">
            <div class="col-md-12 col-xs-12">
            <div class="col-md-2 col-xs-2" style="margin-top: 20px">
            <a href="http://www.aliyun.com" target="_blank"><img src="http://img.leikeji.com/resource/picture_dynamic/aliyun-logo.png"></a>
            </div>
            <div class="col-md-2 col-xs-3" style="margin-top: 20px">
                <p><span style="font-size:14px;color: white">微信：</span><span class="ftel">Luhaisen_GDZH0756</span></p>
                 <p><span style="font-size:14px;color: white">QQ：</span><span class="ftel">857451167</span></p>
                <p><span style="font-size:14px;color: white">邮箱：</span><span class="ftel">857451167@qq.com</span></p>
                <p><span style="font-size:14px;color: white">TEL: </span><span class="ftel">13637333779</span></p>
            </div>
            <div class="col-md-2 col-xs-2" style="text-align: center">
                <img src="{% static "images/code_img/wechat.png" %}" width="140px" alt="微信二维码">
            </div>
            <div class="col-md-2 col-xs-1">
                <span style="font-size: 13px;font-weight: bold;color: white;float: right">友情链接 ></span>
            </div>
            <div class="col-md-2 col-xs-2">
                <ul style="margin-right: 5%;text-align: center">
                        <li><a href="https://www.zealer.com" target="_blank">ZEALER</a></li>
                        <li><a href="http://mobile.zol.com.cn" target="_blank">中关村在线</a></li>
                        <li><a href="http://www.cnmo.com" target="_blank">中国手机网</a></li>
                        <li><a href="http://www.igao7.com" target="_blank">爱搞机</a></li>
                        <li><a href="http://www.leikeji.com/" target="_blank">雷科技</a></li>
                </ul>
            </div>
            <div class="col-md-2 col-xs-2">
                <ul style="margin-right: 5%">
{#                <li class="fNav">#}
{#                    <ul>#}
                        <li><a href="https://www.baidu.com" target="_blank">百度首页</a></li>
                        <li><a href="https://www.taobao.com" target="_blank">淘宝网</a></li>
                        <li><a href="https://www.jd.com" target="_blank">京东网</a></li>
                        <li><a href="https://www.qq.com" target="_blank">腾讯网</a></li>
                        <li><a href="https://www.bilibili.com" target="_blank">哔哩哔哩</a></li>
{#                    </ul>#}
{#                </li>#}
                </ul>
{#                <ul class="footerNav" style="margin-right: 5%">#}

{#                <li class="fNav"><a class="fnavmain">关注我</a>#}
{#                    <div class="follow">#}
{#                        <a href="http://weibo.com" class="sina" target="_blank"></a>#}
{#                        <a href="#" class="wechat"#}
{#                           target="_blank"></a>#}
{#                    </div>#}
{#                </li>#}
{#                <li class="fNav">#}
{#                    <div class="back-top"></div>#}
{#                </li>#}
{#                </ul>#}

            </div>
            </div>
        </div>
        <div class="container-fluid" style="margin-top: 10px;width: 100%">
            <span style="margin-left: 40%;font-weight: bold;font-size: 13px;color: white">本站点仅作个人学习使用，如有侵权请联系删除</span>
        </div>
    </div>
