{% extends "base2.html" %}
{% load staticfiles %}
{% block title %}
    {{ phone.model }}
{% endblock %}
{% block staticfile %}
    <link rel="stylesheet" href="{% static "info/css/detail.css" %}">
{% endblock %}
{% block title_two %}
    class="on"
{% endblock %}
{% block content %}
    <div id="page">
        <div class="container-fluid">
            <div class="col-md-2"></div>
            <div class="col-md-6">
                <div class="cell-con-tit">
                    <h2 class="pro-part-tit">
                        <b><a href="#">{{ phone.model }}</a></b>
                    </h2>
                    <div class="cell-price">
                        <p class="p-left">
                            <span>参考价格：</span>
                            <span class="red">{% if phone.price != "概念产品" and phone.price != "即将上市" %}
                        <i>￥</i>{{ phone.price }}
                            {% else %}
                                {{ phone.price }}
                            {% endif %}</span>
                        </p>
                        <p>
                            <span>电商报价：</span>
                            <a href="{{ phone.jd_url }}">
                                <img src="http://icon.zol-img.com.cn/products/v4/b2c-icon/jd16.png" width="16" height="16">
                        <span class="red">
                         {{ phone.jd_price }}                        </span>
                            </a>
                        </p>
                        <p class="p-left">上市时间：2019年01月</p>
                        <div class="cell-price-stars-po fl">
                            <span>网友综合评分：</span>
                            {% if phone.score.total_score %}
                            <div class="pro-comm-stars-icon pro-comm-stars"><span class="pro-comm-stars-icon"
                                                                                  style="width:{% widthratio phone.score.total_score 1 10 %}%"></span></div>
                            <span class="red">{{ phone.score.total_score }}分{% else %}暂无评分{% endif %}</span>
                            <a id="topToComm">我要点评</a>
                        </div>
                    </div>
                    <ul class="cell_phone_param">
                        <li>
                            <div class="cell_phone_param_img">
                                <img src="//statict.cnmo-img.com.cn/origin/mainpage/product/images/pro_cell_fuselage.png">
                            </div>
                            <p class="cell_phone_param_tit">机身尺寸</p>
                            <p>机身尺寸：暂无数据</p>
                            <p>重量：暂无数据</p>
                        </li>
                        <li>
                            <div class="cell_phone_param_img">
                                <img src="//statict.cnmo-img.com.cn/origin/mainpage/product/images/pro_cell_screen.png">
                            </div>
                            <p class="cell_phone_param_tit">屏幕尺寸</p>
                            <p>屏幕尺寸：{% if b_params.screen != None %}{{ b_params.screen }}{% else %}暂无数据{% endif %}</p>
                            <p>屏幕分辨率：{% if b_params.dpi != None %}{{ b_params.dpi }}{% else %}暂无数据{% endif %}</p>
                        </li>
                        <li>
                            <div class="cell_phone_param_img">
                                <img src="//statict.cnmo-img.com.cn/origin/mainpage/product/images/pro_cell_camera.png">
                            </div>
                            <p class="cell_phone_param_tit">相机配置</p>
                            <p>前置相机：{% if b_params.front != None %}{{ b_params.front }}{% else %}暂无数据{% endif %}</p>
                            <p>后置相机：{% if b_params.back != None %}{{ b_params.back }}{% else %}暂无数据{% endif %}</p>
                        </li>
                        <li>
                            <div class="cell_phone_param_img">
                                <img src="//statict.cnmo-img.com.cn/origin/mainpage/product/images/pro_cell_cpu.png">
                            </div>
                            <p class="cell_phone_param_tit">操作系统</p>
                            <p>操作系统：{% if phone.brand.name != "苹果" %}Android OS{% else %}IOS{% endif %}</p>
                            <p>CPU型号：{% if b_params.cpu != None %}{{ b_params.cpu }}{% else %}暂无数据{% endif %}</p>
                            <p>运行内存：{% if b_params.memory != None %}{{ b_params.memory }}{% else %}暂无数据{% endif %}</p>
                        </li>
                    </ul>
                    <span id="more">
                    <a href="javascript:void(0)" class="pro-part-more">查看更多参数 &gt;</a></span>
                </div>
                <div class="left-news listbox">
                    {% for new in news %}
                    <div class="libox cf">
                        <div class="imgbox default-img">
                            <a href="{% url "phone_news:news_detail" new.id %}" title="{{ new.title }}">
                                <img src="{{ new.pic }}"
                                     alt="{{ new.title }}">
                            </a>
                        </div>
                        <div class="txtbox">
                            <a href="{% url "phone_news:news_detail" new.id %}" title="{{ new.title }}">
                                <h2>{{ new.title }}</h2>
                                <p>{{ new.description }}</p>
                            </a>
                            <div class="botbox clearfix">
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-4">
                <div class="big-pic-fl">
                    <a href="#">
                        <img src="/media/{{ phone.bimg }}" width="400" alt="{{ phone.model }}">
                    </a>
                </div>
                <div class="container-fluid" id="shop" style="margin-top: 20px">
                    <a href="{{ phone.jd_url }}"><span id="jd">京东入口</span></a>
                    <a href="#"><span id="office">官网入口</span></a>
                </div>
                <div class="fr pro-right">
                    <div class="pro-ranking have-tit">
                        <h2>三伏天打游戏不烫榜</h2>
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <i class="pro-rank-num">排名</i>
                                <span class="pro-rank-name">型号</span>
                                <span class="pro-rank-money">清凉指数</span>
                            </div>
                            <div class="panel-body">
                                <ul>
                                    <li class="rank-1">
                                        <a href="//product.cnmo.com/cell_phone/index1624682.shtml" target="_blank">
                                            <i class="pro-rank-num">01</i>
                                            <span class="pro-rank-name">华为nova5 Pro(8+128GB)</span>
                                            <span class="pro-rank-money">10 颗星</span>
                                        </a>
                                    </li>
                                    <li class="rank-2">
                                        <a href="//product.cnmo.com/cell_phone/index1624594.shtml" target="_blank">
                                            <i class="pro-rank-num">02</i>
                                            <span class="pro-rank-name">一加手机7 Pro(6+128GB)</span>
                                            <span class="pro-rank-money">10 颗星</span>
                                        </a>
                                    </li>
                                    <li class="rank-3">
                                        <a href="//product.cnmo.com/cell_phone/index1624591.shtml" target="_blank">
                                            <i class="pro-rank-num">03</i>
                                            <span class="pro-rank-name">荣耀20 PRO(8+128GB)</span>
                                            <span class="pro-rank-money">10 颗星</span>
                                        </a>
                                    </li>
                                    <li class="rank-4">
                                        <a href="//product.cnmo.com/cell_phone/index1624693.shtml" target="_blank">
                                            <i class="pro-rank-num">04</i>
                                            <span class="pro-rank-name">小米CC9(6+64GB)</span>
                                            <span class="pro-rank-money">9 颗星</span>
                                        </a>
                                    </li>
                                    <li class="rank-5">
                                        <a href="//product.cnmo.com/cell_phone/index1624362.shtml" target="_blank">
                                            <i class="pro-rank-num">05</i>
                                            <span class="pro-rank-name">华为P30 Pro(8+128GB)</span>
                                            <span class="pro-rank-money">8 颗星</span>
                                        </a>
                                    </li>
                                    <li class="rank-6">
                                        <a href="//product.cnmo.com/cell_phone/index1624696.shtml" target="_blank">
                                            <i class="pro-rank-num">06</i>
                                            <span class="pro-rank-name">vivo iQOO Neo(6+64GB)</span>
                                            <span class="pro-rank-money">8 颗星</span>
                                        </a>
                                    </li>
                                    <li class="rank-7">
                                        <a href="//product.cnmo.com/cell_phone/index1624626.shtml" target="_blank">
                                            <i class="pro-rank-num">07</i>
                                            <span class="pro-rank-name">红米K20 Pro(6+64GB)</span>
                                            <span class="pro-rank-money">8 颗星</span>
                                        </a>
                                    </li>
                                    <li class="rank-8">
                                        <a href="//product.cnmo.com/cell_phone/index1624496.shtml" target="_blank">
                                            <i class="pro-rank-num">08</i>
                                            <span class="pro-rank-name">三星Galaxy S10+(8+128GB)</span>
                                            <span class="pro-rank-money">8 颗星</span>
                                        </a>
                                    </li>
                                    <li class="rank-9">
                                        <a href="//product.cnmo.com/cell_phone/index1624649.shtml" target="_blank">
                                            <i class="pro-rank-num">09</i>
                                            <span class="pro-rank-name">魅族16Xs(6+64GB)</span>
                                            <span class="pro-rank-money">8 颗星</span>
                                        </a>
                                    </li>
                                    <li class="rank-10">
                                        <a href="//product.cnmo.com/cell_phone/index1624295.shtml" target="_blank">
                                            <i class="pro-rank-num">10</i>
                                            <span class="pro-rank-name">苹果iPhone XR(64GB)</span>
                                            <span class="pro-rank-money">8 颗星</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                    <div class="pro-ranking have-tit">
                        <h2>三伏天打游戏不烫榜</h2>
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <i class="pro-rank-num">排名</i>
                                <span class="pro-rank-name">型号</span>
                                <span class="pro-rank-money">清凉指数</span>
                            </div>
                            <div class="panel-body">
                                <ul>
                                    <li class="rank-1">
                                        <a href="//product.cnmo.com/cell_phone/index1624682.shtml" target="_blank">
                                            <i class="pro-rank-num">01</i>
                                            <span class="pro-rank-name">华为nova5 Pro(8+128GB)</span>
                                            <span class="pro-rank-money">10 颗星</span>
                                        </a>
                                    </li>
                                    <li class="rank-2">
                                        <a href="//product.cnmo.com/cell_phone/index1624594.shtml" target="_blank">
                                            <i class="pro-rank-num">02</i>
                                            <span class="pro-rank-name">一加手机7 Pro(6+128GB)</span>
                                            <span class="pro-rank-money">10 颗星</span>
                                        </a>
                                    </li>
                                    <li class="rank-3">
                                        <a href="//product.cnmo.com/cell_phone/index1624591.shtml" target="_blank">
                                            <i class="pro-rank-num">03</i>
                                            <span class="pro-rank-name">荣耀20 PRO(8+128GB)</span>
                                            <span class="pro-rank-money">10 颗星</span>
                                        </a>
                                    </li>
                                    <li class="rank-4">
                                        <a href="//product.cnmo.com/cell_phone/index1624693.shtml" target="_blank">
                                            <i class="pro-rank-num">04</i>
                                            <span class="pro-rank-name">小米CC9(6+64GB)</span>
                                            <span class="pro-rank-money">9 颗星</span>
                                        </a>
                                    </li>
                                    <li class="rank-5">
                                        <a href="//product.cnmo.com/cell_phone/index1624362.shtml" target="_blank">
                                            <i class="pro-rank-num">05</i>
                                            <span class="pro-rank-name">华为P30 Pro(8+128GB)</span>
                                            <span class="pro-rank-money">8 颗星</span>
                                        </a>
                                    </li>
                                    <li class="rank-6">
                                        <a href="//product.cnmo.com/cell_phone/index1624696.shtml" target="_blank">
                                            <i class="pro-rank-num">06</i>
                                            <span class="pro-rank-name">vivo iQOO Neo(6+64GB)</span>
                                            <span class="pro-rank-money">8 颗星</span>
                                        </a>
                                    </li>
                                    <li class="rank-7">
                                        <a href="//product.cnmo.com/cell_phone/index1624626.shtml" target="_blank">
                                            <i class="pro-rank-num">07</i>
                                            <span class="pro-rank-name">红米K20 Pro(6+64GB)</span>
                                            <span class="pro-rank-money">8 颗星</span>
                                        </a>
                                    </li>
                                    <li class="rank-8">
                                        <a href="//product.cnmo.com/cell_phone/index1624496.shtml" target="_blank">
                                            <i class="pro-rank-num">08</i>
                                            <span class="pro-rank-name">三星Galaxy S10+(8+128GB)</span>
                                            <span class="pro-rank-money">8 颗星</span>
                                        </a>
                                    </li>
                                    <li class="rank-9">
                                        <a href="//product.cnmo.com/cell_phone/index1624649.shtml" target="_blank">
                                            <i class="pro-rank-num">09</i>
                                            <span class="pro-rank-name">魅族16Xs(6+64GB)</span>
                                            <span class="pro-rank-money">8 颗星</span>
                                        </a>
                                    </li>
                                    <li class="rank-10">
                                        <a href="//product.cnmo.com/cell_phone/index1624295.shtml" target="_blank">
                                            <i class="pro-rank-num">10</i>
                                            <span class="pro-rank-name">苹果iPhone XR(64GB)</span>
                                            <span class="pro-rank-money">8 颗星</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                    <div class="pro-ranking have-tit">
                        <h2>三伏天打游戏不烫榜</h2>
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <i class="pro-rank-num">排名</i>
                                <span class="pro-rank-name">型号</span>
                                <span class="pro-rank-money">清凉指数</span>
                            </div>
                            <div class="panel-body">
                                <ul>
                                    <li class="rank-1">
                                        <a href="//product.cnmo.com/cell_phone/index1624682.shtml" target="_blank">
                                            <i class="pro-rank-num">01</i>
                                            <span class="pro-rank-name">华为nova5 Pro(8+128GB)</span>
                                            <span class="pro-rank-money">10 颗星</span>
                                        </a>
                                    </li>
                                    <li class="rank-2">
                                        <a href="//product.cnmo.com/cell_phone/index1624594.shtml" target="_blank">
                                            <i class="pro-rank-num">02</i>
                                            <span class="pro-rank-name">一加手机7 Pro(6+128GB)</span>
                                            <span class="pro-rank-money">10 颗星</span>
                                        </a>
                                    </li>
                                    <li class="rank-3">
                                        <a href="//product.cnmo.com/cell_phone/index1624591.shtml" target="_blank">
                                            <i class="pro-rank-num">03</i>
                                            <span class="pro-rank-name">荣耀20 PRO(8+128GB)</span>
                                            <span class="pro-rank-money">10 颗星</span>
                                        </a>
                                    </li>
                                    <li class="rank-4">
                                        <a href="//product.cnmo.com/cell_phone/index1624693.shtml" target="_blank">
                                            <i class="pro-rank-num">04</i>
                                            <span class="pro-rank-name">小米CC9(6+64GB)</span>
                                            <span class="pro-rank-money">9 颗星</span>
                                        </a>
                                    </li>
                                    <li class="rank-5">
                                        <a href="//product.cnmo.com/cell_phone/index1624362.shtml" target="_blank">
                                            <i class="pro-rank-num">05</i>
                                            <span class="pro-rank-name">华为P30 Pro(8+128GB)</span>
                                            <span class="pro-rank-money">8 颗星</span>
                                        </a>
                                    </li>
                                    <li class="rank-6">
                                        <a href="//product.cnmo.com/cell_phone/index1624696.shtml" target="_blank">
                                            <i class="pro-rank-num">06</i>
                                            <span class="pro-rank-name">vivo iQOO Neo(6+64GB)</span>
                                            <span class="pro-rank-money">8 颗星</span>
                                        </a>
                                    </li>
                                    <li class="rank-7">
                                        <a href="//product.cnmo.com/cell_phone/index1624626.shtml" target="_blank">
                                            <i class="pro-rank-num">07</i>
                                            <span class="pro-rank-name">红米K20 Pro(6+64GB)</span>
                                            <span class="pro-rank-money">8 颗星</span>
                                        </a>
                                    </li>
                                    <li class="rank-8">
                                        <a href="//product.cnmo.com/cell_phone/index1624496.shtml" target="_blank">
                                            <i class="pro-rank-num">08</i>
                                            <span class="pro-rank-name">三星Galaxy S10+(8+128GB)</span>
                                            <span class="pro-rank-money">8 颗星</span>
                                        </a>
                                    </li>
                                    <li class="rank-9">
                                        <a href="//product.cnmo.com/cell_phone/index1624649.shtml" target="_blank">
                                            <i class="pro-rank-num">09</i>
                                            <span class="pro-rank-name">魅族16Xs(6+64GB)</span>
                                            <span class="pro-rank-money">8 颗星</span>
                                        </a>
                                    </li>
                                    <li class="rank-10">
                                        <a href="//product.cnmo.com/cell_phone/index1624295.shtml" target="_blank">
                                            <i class="pro-rank-num">10</i>
                                            <span class="pro-rank-name">苹果iPhone XR(64GB)</span>
                                            <span class="pro-rank-money">8 颗星</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
                 <script>
                    $("#more").click(function () {
                        $.ajax({
                        url: '{% url "phone_info:more_params" phone.brand.id phone.id %}',
                        type: 'GET',
                        success: function (data) {
                        if(data){
                            $(".cell-con-tit").html(data)
                        }
                        else {
                            alert("出错啦...请联系管理员")
                        }
                        }
                         });
                    });
                </script>
{% endblock %}
